<form action="/results" method="GET">
   <label id="search-input" ></label>
  <input type="text" name="search" />

  <input type="submit" />
</form>


<!--
   http://api.harvardartmuseums.org/object?apikey=${ NATM_API_KEY }
-->