<h1>WELCOME</h1>
<p>Please type the name of the exhibition you would like to know more about</p>


<form action="/exhibition" method="GET"> 
    <label>Search an exhibition</label>
    <input id="search-input" type="text" name="search">

    <input id="search-input" type="submit">
</form>