<h4> Search for some museum works!</h4>

<form action= "/works/search" method="GET">
    <label 
    for="search-term">Search by title
</label>
<input type="text" id="search-term" name="">





</form>