<h1>Museum Art Search</h1>
<form method="GET" action="/results">
    <label id="search-input">Search:</label>
    <input id="search-input" type="text" name="results">
    <input type="submit">
</form>