<h1>Night at the Museum Search</h1>
<p>(Ben Stiller not included)</p>

<form action="/results" method="GET">
    <label id="search-input">SEARCH A PEICE OF WORK</label>

    <input id="search-input" type="text" name="search" />

    <input type="submit" />
</form>