<h1>Rifle Through<br />The Harvard Art Museum's<br />Collection</h1>
<form action="/results" method="GET">
  <label id="search-input">Search Artist's Name</label>
  <input type="text" name="search" />
  <input type="submit" />
</form>
