<h1>Arts Search-- Learn Art!</h1>
<form action="/results" method="GET">
  <label id="search-input">Search a ARTWORK</label>
  <input type="text" name="search" placeholder="NAME OF THE ART GO HERE" />  

  <input type="submit" />
</form>