<h1>Welcome to Harvard's Art Museum Objects Title Search</h1>

<h2>Input your search below</h2>

<form action="/objects" method="GET">
    <input type="text" name="search" >
    <input type="submit">
</form>