<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NATM</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
    </nav>
    <main>
      <h1>WELCOME TO THE NATM</h1>
      <h2>Night at the Museum</h2>
      <%- body %>
    </main>
  </body>
</html>
