<h1>Search Results</h1>
<% records.forEach(record => { %> 
    <% if(record.primaryimageurl === null) { %> 
    <% return %> 
    <% } else { %>
        <h3><%= record.title %></h3>
        <img src="<%=record.primaryimageurl%>" width="400px" />
    <% } %> 
<% }) %>
