<h1>Harvard Art Museums</h1>
<p>Search for a work of art...</p>
<form method="GET" action="/works/results">
    <label id="search-input">Search titles by keyword:</label>
    <input id="search-input" type="text" name="search">
    <input type="submit" value="Search">
</form>