<h1>Search Results</h1>
<% let worksWithPics = [] %>
<% works.forEach(work => { %>
    <% if(!work.primaryimageurl === null) { %>
        <% worksWithPics.push(work) %>
        <% } %>
<% }) %>
        
    <%console.log(worksWithPics) %>

<% worksWithPics.forEach(work => { %>
    <h4>"<%= work.title %>"</h4>
    <img src="<%= work.primaryimageurl %>" width="400px">
<% }) %>

